@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
.app {
  font-family: 'Neucha', cursive;
  background-color: hsl(211, 61%, 47%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    margin-top: 13px;

    z-index: 1;
}

@media (max-width: 800px) {
    .heading{
        margin-top: 7px;
        font-size: 40px;
    }
}